@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

ul {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
  transition: all 0.2s;
  margin-bottom: -4px;
}

li:hover {
  transform: scale(1.05);
}

.whatsThat {
  font-family: 'Lato', sans-serif;
    color: #cae8f1;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-top: 1%;
}