@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App-main {
  min-height: 94.5vh;
}

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  background-color: #090e1f;
  text-align: center;
  color: #b7bec9;
  font-family: "Lato";
  margin: 0;
  padding-bottom: 10px;
}

address {
  font-style: normal;
}

footer p {
  margin: 2px;
}

footer span {
  margin: 0 1%
}

footer svg {
  height: 20px;
  margin: -4px 5px;
  fill: #b7bec9ca;

}

footer a {
 color: rgba(124, 104, 238, 0.781);
 text-decoration: none;
}